.contain{
    border: 2px solid;
    display: flex;
    flex-direction: column;
    height: 300px;
    background-color: #293476;
    color: white;
    padding: 10px;
}
.connect{
    display: flex;
    height: 50px;
    width: 30%;
    justify-content: space-between;
    color: white;
    margin: auto;
    margin-top: 5px;
}
.p{
    margin-top: -15px;
    text-align: left;
    padding: 20px;
}
.social{
    display: flex;
    width: 70%;
    justify-content: space-between;
    margin: auto;
}
.link{
    color: white;
    text-decoration: none;
}